# ABOUT my dataset: merging 2 major datasets into a file mydata.txt

Million Musical Tweets Dataset: http://www.cp.jku.at/datasets/MMTD/

Music Brainz: https://musicbrainz.org/doc/MusicBrainz_Database/Download

Number of unique artists: 24673

Number of unique users: 214741

Number of unique tweets: 1074713

Number of unique tracks: 133228

ALS Implicit Collaborative Filtering: https://medium.com/radon-dev/als-implicit-collaborative-filtering-5ed653ba39fe

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("/Users/MAC/Desktop/MIP 2019/Code/data.csv", header = 0, sep=',', low_memory=False)

In [3]:
artist_type = pd.pivot_table(data, index = 'user_id', values = 'tweet_id', columns = 'artist_type', aggfunc='count', fill_value=0)
artist_type['Total'] = artist_type.sum(1)
artist_type['1'] = artist_type['1'] / artist_type['Total']
artist_type['2'] = artist_type['2'] / artist_type['Total'] 
artist_type['3'] = artist_type['3'] / artist_type['Total']
artist_type['4'] = artist_type['4'] / artist_type['Total']
artist_type['5'] = artist_type['5'] / artist_type['Total']
artist_type['6'] = artist_type['6'] / artist_type['Total']
artist_type['\\N'] = 0
artist_type['Total'] = 1
artist_type = artist_type.round(2)

In [4]:
artist_type.sort_values(by='6')

artist_type     1     2    3    4    5     6  \N  Total
user_id
335          0.86  0.14  0.0  0.0  0.0  0.00   0      1
312266493    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312268739    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312269947    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312271051    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312271977    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312272009    0.50  0.50  0.0  0.0  0.0  0.00   0      1
312274201    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312275441    0.50  0.50  0.0  0.0  0.0  0.00   0      1
312277967    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312279296    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312265961    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312280676    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312281533    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312281753    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312290301    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312292504    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312293195    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312300616    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312307523    0.80  0.20  0.0  0.0  0.0  0.00   0      1
312308472    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312309559    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312314037    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312281097    0.47  0.53  0.0  0.0  0.0  0.00   0      1
312314040    0.50  0.50  0.0  0.0  0.0  0.00   0      1
312261235    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312250805    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312177706    1.00  0.00  0.0  0.0  0.0  0.00   0      1
312178125    0.00  1.00  0.0  0.0  0.0  0.00   0      1
312180444    1.00  0.00  0.0  0.0  0.0  0.00   0      1
...           ...   ...  ...  ...  ...   ...  ..    ...
138602319    1.00  0.00  0.0  0.0  0.0  0.00   0      1
138624212    1.00  0.00  0.0  0.0  0.0  0.00   0      1
138603826    0.00  1.00  0.0  0.0  0.0  0.00   0      1
138592494    0.00  1.00  0.0  0.0  0.0  0.00   0      1
138613860    0.50  0.50  0.0  0.0  0.0  0.00   0      1
138599194    1.00  0.00  0.0  0.0  0.0  0.00   0      1
138588706    1.00  0.00  0.0  0.0  0.0  0.00   0      1
138583622    0.65  0.35  0.0  0.0  0.0  0.00   0      1
138623754    0.00  1.00  0.0  0.0  0.0  0.00   0      1
138607881    0.00  1.00  0.0  0.0  0.0  0.00   0      1
138599430    0.00  1.00  0.0  0.0  0.0  0.00   0      1
41117134     0.69  0.29  0.0  0.0  0.0  0.01   0      1
277341048    0.79  0.18  0.0  0.0  0.0  0.01   0      1
43370421     0.82  0.12  0.0  0.0  0.0  0.02   0      1
375338309    0.88  0.06  0.0  0.0  0.0  0.06   0      1
173355065    0.47  0.47  0.0  0.0  0.0  0.06   0      1
145885353    0.79  0.14  0.0  0.0  0.0  0.07   0      1
53284770     0.86  0.07  0.0  0.0  0.0  0.07   0      1
95392304     0.75  0.17  0.0  0.0  0.0  0.08   0      1
219075599    0.62  0.15  0.0  0.0  0.0  0.23   0      1
258885475    0.67  0.00  0.0  0.0  0.0  0.33   0      1
98503759     0.00  0.33  0.0  0.0  0.0  0.33   0      1
463622640    0.50  0.00  0.0  0.0  0.0  0.50   0      1
48225506     0.00  0.33  0.0  0.0  0.0  0.67   0      1
38643970     0.00  0.00  0.0  0.0  0.0  1.00   0      1
26826783     0.00  0.00  0.0  0.0  0.0  1.00   0      1
70956353     0.00  0.00  0.0  0.0  0.0  1.00   0      1
199298188    0.00  0.00  0.0  0.0  0.0  1.00   0      1
124689093    0.00  0.00  0.0  0.0  0.0  1.00   0      1
30308962     0.00  0.00  0.0  0.0  0.0  1.00   0      1

[214741 rows x 8 columns]

In [5]:
artist_type.to_csv(index=True, path_or_buf="/Users/MAC/Desktop/MIP 2019/Code/artist_type.csv")

In [6]:
ttime = pd.pivot_table(data, index = 'user_id', values = 'tweet_id', columns = 'tweet_time', aggfunc='count', fill_value=0)
ttime['Total'] = ttime.sum(1)
ttime['Afternoon'] = ttime['Afternoon'] / ttime['Total']
ttime['Evening'] = ttime['Evening'] / ttime['Total']
ttime['Morning'] = ttime['Morning'] / ttime['Total']
ttime['Night'] = ttime['Night'] / ttime['Total']
ttime['Total'] = 1
ttime = ttime.round(2)

In [7]:
ttime.head()

tweet_time  Afternoon  Evening  Morning  Night  Total
user_id
335              0.43      0.0     0.29   0.29      1
855              0.50      0.0     0.50   0.00      1
2695             1.00      0.0     0.00   0.00      1
3249             0.33      0.0     0.67   0.00      1
5212             0.00      0.0     0.00   1.00      1

In [8]:
ttime.to_csv(index=True, path_or_buf="/Users/MAC/Desktop/MIP 2019/Code/ttime.csv")

In [9]:
gender = pd.pivot_table(data, index = 'user_id', values = 'tweet_id', columns = 'artist_gender', aggfunc='count', fill_value=0)
gender['Total'] = gender.sum(1)
gender['1'] = gender['1'] / gender['Total']
gender['2'] = gender['2'] / gender['Total'] 
gender['3'] = gender['3'] / gender['Total']
gender['4'] = gender['4'] / gender['Total']
gender['\\N'] = 0
gender['Total'] = 1
gender = gender.round(2)

In [10]:
gender.head()

artist_gender     1     2    3    4  \N  Total
user_id
335            0.71  0.14  0.0  0.0   0      1
855            0.00  0.00  0.0  0.0   0      1
2695           0.00  0.00  0.0  0.0   0      1
3249           0.00  0.33  0.0  0.0   0      1
5212           0.00  0.00  0.0  0.0   0      1

In [11]:
gender.to_csv(index=True, path_or_buf="/Users/MAC/Desktop/MIP 2019/Code/gender_bias.csv")